<h1>Load data from Last.fm</h1>

<h3>Country:</h3>

<p> Poland </p>

<ul>
<% @songs.each do |song| %>
  <li>song.songs.name</li>
<% end %>
</ul>
<br />

<%= link_to 'New Load datum', new_load_datum_path %>
